<tfoot>
    <tr>
        <td colspan="6">
            <div class="itemActions">
                <label>{% trans from "form" %}organization.admin.tfoot.select.text{% endtrans %}</label>
                <select name="batchAction" style="opacity: 0;">
                    <option value="">{% trans from "form" %}organization.admin.tfoot.select.option.choose{% endtrans %}</option>
                    <option value="delete">{% trans from "form" %}organization.admin.tfoot.select.option.delete{% endtrans %}</option>
                </select>
                <input type="hidden" name="token" value="{{ csrf.generateCsrfToken('batch') }}" />
                <input type="submit" class="buttonS bGreen" value="{% trans from "form" %}organization.admin.tfoot.submit.value{% endtrans %}" />
            </div>

        </td>
    </tr>
</tfoot>